.subscribe-section {
   background-color: orange;
}

.subscribe-form {
    flex-direction: row;
    gap: 10px;
 }

 .subscribe-input {
    padding: 3px;
    border-radius: 10px;
 }

.subscribe-btn {
    border: none;
    outline: none;
    background: transparent;
    background-color: gray;
    padding: 5px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
 }

 .top-bottom-space {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
 }

 .textCenter {
   justify-content: center;
   align-items: center;
   margin-left: 250px;
   margin-right: 250px;
 }